<!DOCTYPE html>
<html lang="en" ng-app="bdymsApp">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>The Bdymsi shuffler</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>

<body>

  <div class="container">
    <div class="header">
      <h3 class="text-muted">The Bdymsi Shuffler</h3>
    </div>

    <div class="jumbotron" ng-controller="BdymsCtrl">
      <h1>Enter your bdymsi</h1>
      <p class="lead">
        The bdymsi should be space separated.
      </p>
      <form class="form" role="form">
        <div class="form-group">
          <label class="sr-only" for="bdymsi">Bdymsi List</label>
          <input type="text" class="form-control" id="bdymsi" placeholder="Cryms durdyms nBdyms Plyms" ng-model="bdymsi">
        </div>
        <button ng-click="bdyms()" class="btn btn-lg btn-success">Bdym-tsh!</button>
      </form>
    </div>

    <div class="footer">
      <p>&copy; nCrazed 2014</p>
    </div>

  </div>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
  <script src="{{ url_for('static', filename='app.js') }}"></script>
  <a href="https://github.com/nCrazed/The-Bdymsi-Shuffler">
    <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png">
  </a>
</body>

</html>


